<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Header</title>
		<link rel="stylesheet" href="../../css/global.css">

		<script type="text/javascript" src="../../js/jquery-1.10.2.js"></script>
		<script type="text/javascript" src="../../js/box-0.7.0.js"></script>
		<script type="text/javascript" src="../../js/aside-nav.js"></script>
	</head> 
	<body>
		<div class="header">
			<div class="header-content">
				<div class="header-nav">
					<ul>
						<li><a href="#">Vivre EDF On Line</a></li>
						<li class="expand">
							<a href="#">Portails métiers</a>
							<ul class="sub-nav">
								<li><a href="#">Lorem Ipsum dolor sit</a></li>
								<li><a href="#">Consectetur</a></li>
								<li><a href="#">Pellentesque luctusm</a></li>
								<li><a href="#">Urid id vehiculaquis</a></li>
								<li><a href="#">Phasellus est tellus</a></li>
								<li><a href="#">Lacinia sed fermentum</a></li>
							</ul>
						</li>
						<li class="expand">
							<a href="#">Tous les sites EDF</a>
							<ul class="sub-nav">
								<li><a href="#">Lorem Ispsum dolor sit</a></li>
								<li><a href="#">Consectetur</a></li>
								<li><a href="#">Pellentesque luctusm</a></li>
								<li><a href="#">Urid id vehiculaquis</a></li>
								<li><a href="#">Phasellus est tellus</a></li>
								<li><a href="#">Lacinia sed fermentum</a></li>
							</ul>
						</li>
						<li><a href="#">Français</a></li>
					</ul>
				</div>
				<div class="logo">
					<a href="#"><img src="../../img/edf_header_logo.png" alt="#"></a>
				</div>
				
				<div class="header-infos">
					<span class="page-title">Le photo <strong>Center</strong></span>
					<a href="#">Marianne Leclerc</a>
					<a href="#" class="disconnect">Deconnexion</a>
				</div>
			</div>
		</div>
		<div class="nav">
			<div class="main-nav">
				<ul>
					<li class="selected"><a href="#">Accueil</a></li>
					<li><a href="#">Rubrique 1</a></li>
					<li><a href="#">Rubrique 2</a></li>
					<li><a href="#">Rubrique 3</a></li>
					<li>
						<a href="#" class="expand">Rubrique 4</a>
						<ul class="sub-nav">
							<li><a href="#">Lorem Ipsum dolor sit</a></li>
							<li><a href="#">Consectetur</a></li>
							<li><a href="#">Pellentesque luctusm</a></li>
							<li><a href="#">Urid id vehiculaquis</a></li>
							<li><a href="#">Phasellus est tellus</a></li>
							<li><a href="#">Lacinia sed fermentum</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
		<div class="two-columns">
			<div class="aside">
				<div class="element">
					<div class="aside-nav expandable">
						<span class="nav-title">Intitulé du menu</span>
						<div class="aside-nav-disabled aside-nav-wrapper">
							<ul>
								<li><a href="#">Intitulé Item menu 1</a></li>
								<li><a href="#">Intitulé Item menu 2</a></li>
								<li>
									<p class="sub-nav-enabled" href="#">Intitulé Item menu 3</p>
									<ul class="sub-nav">
										<li><a href="#">Lorem Ispsum dolor sit</a></li>
										<li><a href="#">Consectetur</a></li>
										<li><a href="#">Pellentesque luctusm</a></li>
										<li class="sub-nav-hover">
											<p class="sub-nav-enabled2" href="#">Intitulé Item menu 3</p>
											<ul class="sub-nav2">
												<li><a href="#">Lorem Ispsum dolor sit</a></li>
												<li><a href="#">Consectetur</a></li>
												<li><a href="#">Pellentesque luctusm</a></li>
												<li><a href="#">Urid id vehiculaquis</a></li>
											</ul>
										</li>
										<li><a href="#">Phasellus est tellus</a></li>
										<li><a href="#">Lacinia sed fermentum</a></li>
									</ul>
								</li>
								<li><a href="#">Intitulé Item menu 4</a></li>
								<li><a href="#">Intitulé Item menu 5</a></li>
								<li><a href="#">Intitulé Item menu 6</a></li>
								<li><a href="#">Intitulé Item menu 7</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="element">
					<div class="aside-nav scroll-nav expandable">
						<span class="nav-title">Intitulé du menu</span>
						<div class="aside-nav-scrollable aside-nav-wrapper" id="scrollable-nav">	
							<ul>
								<li><a href="#">Intitulé Item menu 1</a></li>
								<li><a href="#">Intitulé Item menu 2</a></li>
								<li>
									<p class="sub-nav-enabled" href="#">Intitulé Item menu 3</p>
									<ul class="sub-nav">
										<li><a href="#">Lorem Ispsum dolor sit</a></li>
										<li><a href="#">Consectetur</a></li>
										<li><a href="#">Pellentesque luctusm</a></li>
										<li class="sub-nav-hover">
											<p class="sub-nav-enabled2" href="#">Intitulé Item menu 3</p>
											<ul class="sub-nav2">
												<li><a href="#">Lorem Ispsum dolor sit</a></li>
												<li><a href="#">Consectetur</a></li>
												<li><a href="#">Pellentesque luctusm</a></li>
												<li><a href="#">Urid id vehiculaquis</a></li>
											</ul>
										</li>
										<li><a href="#">Phasellus est tellus</a></li>
										<li><a href="#">Lacinia sed fermentum</a></li>
									</ul>
								</li>
								<li><a href="#">Intitulé Item menu 4</a></li>
								<li><a href="#">Intitulé Item menu 5</a></li>
								<li><a href="#">Intitulé Item menu 6</a></li>
								<li><a href="#">Intitulé Item menu 7</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>